{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - {{ action }} Normalization Tool{% endblock title %}

{% block page_title %}
{{ action }} Normalization Tool
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'normalizationtool_list' %}">Normalization Tools</a></li>
<li>{{ action }} Normalization Tool</li>
{% endblock breadcrumbs %}

{% block content %}

<div class='tool'>
    {% if normalizationtool %}
    <form action="{% url 'normalizationtool_edit' normalizationtool.slug %}" method="post">
    {% else %}
    <form action="{% url 'normalizationtool_create' %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{{ action }}" />
    </form>
</div>

{% endblock content %}
