{% extends "fpr/app_layout.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - {{ action }} Format Group{% endblock title %}

{% block page_title %}
{{ action }} Format Group
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'formatgroup_list' %}">Format Groups</a></li>
<li>{{ action }} Format Group</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="col-xs-10">

    <div class='format'>

      {% if group %}
      <form action="{% url 'formatgroup_edit' group.slug %}" method="post" id='format_group_form'>
      {% else %}
      <form action="{% url 'formatgroup_create' %}" method="post" id='format_group_form'>
      {% endif %}
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <input type="submit" value="{{ action }} Format Group" class="btn btn-primary" />
      </form>
    </div>

    {% if group %}
    <h2>Formats</h2>

    <p><a href="{% url 'format_create' %}">Create New Format</a></p>

      {% if group_formats %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for format in group_formats %}
          <tr>
            <td><a href="{% url 'format_detail' format.slug %}">{{ format.description }}</a></td>
            <td><a href="{% url 'format_edit' format.slug %}">Edit</a> </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No formats exist for {{ group.description }}.</p>
      {% endif %}
    {% endif %}

  </div> <!-- /col-xs-10 -->


</div> <!-- /row -->


{% endblock app_content %}
