{% extends "fpr/app_layout.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - Format Groups{% endblock title %}

{% block page_title %}
Format Group Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li>Format Groups</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    <p><a href="{% url 'format_group_create' %}">Create New Format Group</a></p>

    {% if groups %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Description</th>
            <th>UUID</th>
          </tr>
        </thead>
        <tbody>
        {% for group in groups %}
          <tr>
            <td><a href="{% url 'format_group_edit' group.slug %}">{{ group.description }}</a></td>
            <td>{{ group.uuid }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No format groups exist.</p>
    {% endif %}

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
