{% extends "fpr/app_layout.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - Format Groups{% endblock title %}

{% block page_title %}
Format Group Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li>Format Groups</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    {% if request.user.is_superuser %}
    <p><a href="{% url 'formatgroup_create' %}">Create New Format Group</a></p>
    {% endif %}

    {% if groups %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for group in groups %}
          <tr>
            <td><a href="{% url 'formatgroup_edit' group.slug %}">{{ group.description }}</a></td>
            <td>
              <a href="{% url 'formatgroup_edit' group.slug %}">Edit</a>
              {% if request.user.is_superuser %}
                |
                <a href="{% url 'formatgroup_delete' group.slug %}">Delete</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No format groups exist.</p>
    {% endif %}

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
