{% extends "fpr/app_layout.html" %}
{% load url from future %}
{% load staticfiles %}
{% load revisions_link %}

{% block title %}Archivematica FPR Server - {{ idcommand.description }}{% endblock title %}

{% block page_title %}
{{ idcommand.description }} Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'idcommand_list' %}">Identification Commands</a></li>
<li>{{ idcommand.description }} Command</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    {% revisions_link "idcommand" idcommand.uuid %}

    <div class='format'>
      <dl>
        <dt>UUID</dt>
          <dd>{{ idcommand.uuid }}</dd>
        <dt>Tool</dt>
          <dd>{{ idcommand.tool }}
        <dt>Description</dt>
          <dd>{{ idcommand.description }}</dd>
        <dt>Mode</dt>
          <dd>{{ idcommand.config }}</dd>
        <dt>Script</dt>
          <dd><pre>{{ idcommand.script }}</pre></dd>
        <dt>Script Type</dt>
          <dd>{{ idcommand.get_script_type_display }}</dd>
        <dt>Enabled</dt>
          <dd>{{ idcommand.enabled }}</dd>
        <dt>Actions</dt>
          <dd><a href="{% url 'idcommand_edit' idcommand.uuid %}">Replace</a></dd>
          <dd><a href="{% url 'idcommand_delete' idcommand.uuid %}">Disable</a></dd>
      </dl>
    </div>

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
