{% extends "fpr/app_layout.html" %}
{% load url from future %}
{% load staticfiles %}
{% load revisions_link %}

{% block title %}Archivematica FPR Server - {{ idcommand.description }}{% endblock title %}

{% block page_title %}
{{ idcommand.description }} Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'idcommand_list' %}">Identification Commands</a></li>
<li>{{ idcommand.description }} Command</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    {% revisions_link "idcommand" idcommand.uuid %}

    <div class='format'>
      <dl>
        <dt>Description</dt>
          <dd>{{ idcommand.description }}</dd>
        <dt>Script</dt>
          <dd><pre>{{ idcommand.script }}</pre></dd>
        <dt>Script Type</dt>
          <dd>{{ idcommand.script_type }}</dd>
        <dt>Tool(s)</dt>
          {% for config in idtoolconfigs %}
            {% if config.enabled %}
              <li><a href="{% url 'idtool_detail' config.tool.slug %}">{{ config.tool.description }}</a></li>
            {% endif %}
          {% endfor %}
        <dt>Actions</dt>
          <dd><a href="{% url 'idcommand_edit' idcommand.uuid %}">Replace</a></dd>
      </dl>
    </div>

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
