{% extends "fpr/app_layout.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - {{ action }} Identication Command{% endblock title %}

{% block page_title %}
{{ action }} Identification Command
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'idcommand_list' %}">Identification Commands</a></li>
<li>{{ action }} Identification Command</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="col-xs-10">

    <div class='tool'>
      {% if idcommand %}
        <form action="{% url 'idcommand_edit' idcommand.uuid %}" method="post">
      {% else %}
        <form action="{% url 'idcommand_create' %}" method="post">
      {% endif %}

        {% csrf_token %}
        {{ form|as_bootstrap }}

        <input type="submit" value="{{ action }} Command" class="btn btn-primary" />
      </form>
    </div>

  </div> <!-- /col-xs-10 -->

</div> <!-- /row -->

{% endblock app_content %}
