{% extends "app_layout.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - Format {{format.description}}{% endblock title %}

{% block page_title %}
{{format}} Format Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'format_list' %}">Formats</a></li>
<li>{{ format.description }}</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    <div class='format'>
        <dl>
            <dt>Description</dt> <dd>{{ format.description }}</dd>
            <dt>Group</dt> <dd>{{ format.group }}</dd>
            <dt>Actions</dt>
                <dd><a href="{% url 'format_edit' format.slug %}">Edit</a></dd>
        </dl>
    </div>

    <h2>Specific Versions</h2>

    <p><a href="{% url 'formatversion_create' format.slug %}">Create New Format Version</a></p>

    {% if format_versions %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Description</th>
            <th>Access format?</th>
            <th>Preservation format?</th>
            <th>UUID</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for version in format_versions %}
          <tr>
            <td><a href="{% url 'formatversion_detail' format.slug version.slug %}">{{ version.description }}</a></td>
            <td>{{ version.access_format|yesno:"Yes, No" }}</td>
            <td>{{ version.preservation_format|yesno:"Yes, No" }}</td>
            <td>{{ version.uuid }}</td>
            <td><a href="{% url 'formatversion_edit' format.slug version.slug %}">Replace</a> | <a href="{% url 'formatversion_delete' format.slug version.slug %}">Disable</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No versions exist for {{ format.description }}.</p>
    {% endif %}

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
