{% extends "fpr/app_layout.html" %}
{% load url from future %}
{% load staticfiles %}
{% load revisions_link %}

{% block title %}Archivematica FPR Server - {{ fprule.purpose|title }}{% endblock title %}

{% block page_title %}
{{ fprule.purpose|title }} Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'fprule_list' %}">Format Policy Rules</a></li>
<li>{{ fprule.purpose|title }} Rule</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    {% revisions_link "fprule" fprule.uuid %}

    <div class='format'>
      <dl>
        <dt>Purpose</dt>
          <dd>{{ fprule.purpose|title }} Rule</dd>
        <dt>Format</dt>
          <dd><a href="{% url 'formatversion_detail' fprule.format.format.slug fprule.format.slug %}">{{ fprule.format.description }}</a></dd>
        <dt>Command</dt>
          <dd><a href="{% url 'fpcommand_detail' fprule.command.uuid %}">{{ fprule.command.description }}</a></dd>
        <dt>Stats</dt>
          <dd>Success: {{ fprule.count_okay }}</dd>
          <dd>Failure: {{ fprule.count_not_okay }}</dd>
          <dd>Total: {{ fprule.count_attempts }}</dd>
        <dt>Actions</dt>
          <dd><a href="{% url 'fprule_edit' fprule.uuid %}">Replace</a></dd>
      </dl>
    </div>

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
