{% extends "fpr/app_layout.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - {{ action }} Format Policy Rule{% endblock title %}

{% block page_title %}
{{ action }} Format Policy Rule
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'fprule_list' %}">Format Policy Rules</a></li>
<li>{{ action }} Format Policy Rule</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    <div class='tool'>
      {% if fprule %}
        <form action="{% url 'fprule_edit' fprule.uuid %}" method="post">
      {% else %}
        <form action="{% url 'fprule_create' %}" method="post">
      {% endif %}

      {% csrf_token %}
      {{ form.as_p }}

      {% if fprule %}
      <form action="{% url 'fprule_edit' fprule.uuid %}" method="post" id='fprule_form'>
      {% else %}
      <form action="{% url 'fprule_create' %}" method="post" id='fprule_form'>
      {% endif %}

        {% csrf_token %}

        <!--
        <p>
          {{ form.command.errors }}
          {{ form.command.label_tag }} {{ form.command }}
        </p>
        -->
        <div id='fprule_command_form'>
          {{ fprule_command_form.as_p }}
        </div>
        <p>
          {{ form.description.errors }}
          {{ form.description.label_tag }} {{ form.description }}
        </p>
        <input type="submit" value="{{ action }} Rule" />
      </form>
    </div>

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}

{% block extra_js %}
<script type="text/javascript">

function display_extra_form() {
  val = $("#id_f-command option:selected").val();
  if (val == 'new') {
    $('#fprule_command_form').show();
  } else {
    $('#fprule_command_form').hide();
  }
}

$(document).ready(function () {
  display_extra_form();
  $("#id_f-command").change(function () {display_extra_form();});

});

</script>
{% endblock %}
