{% extends "fpr/app_layout.html" %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - Format Policy Rules{% endblock title %}

{% block page_title %}
Format Policy Rule Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li>Format Policy Rules</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    {% if request.user.is_superuser %}
    <p><a href="{% url 'fprule_create' %}">Create New Rule</a></p>
    {% endif %}

    {% if fprules %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Purpose</th>
            <th>Format</th>
            <th>Command</th>
            <th>Success</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for fprule in fprules %}
          <tr>
            <td><a href="{% url 'fprule_detail' fprule.uuid %}">{{ fprule.get_purpose_display }}</a></td>
            <td>{{ fprule.format.description }}</td>
            <td>{{ fprule.command.description }}</td>
            <td>{{ fprule.count_okay }} out of {{ fprule.count_attempts }}</td>
            <td>
              <a href="{% url 'fprule_detail' fprule.uuid %}">View</a>
              {% if request.user.is_superuser %}
                |
                <a href="{% url 'fprule_edit' fprule.uuid %}">Replace</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No format policy rules exist.</p>
    {% endif %}

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
