{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - {{ action }} ID Tool Confguration{% endblock title %}

{% block page_title %}
{{ action }} ID Tool Configuration
{% endblock page_title %}

{% block extra_css %}
<style type="text/css">
#config_command_form {
  margin-left: 2em;
}
</style>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'idtool_list' %}">ID Tools</a></li>
<li><a href="{% url 'idtool_detail' idtool.slug %}">{{ idtool.description }}</a></li>
<li>{{ action }} ID Tool Configuration</li>
{% endblock breadcrumbs %}

{% block content %}

<div class='format'>
    {% if version %}
    <form action="{% url 'idtool_config_edit' idtool.slug config.slug %}" method="post">
    {% else %}
    <form action="{% url 'idtool_config_create' idtool.slug %}" method="post">
    {% endif %}
        {% csrf_token %}
        <p>Format: {{ idtool.description }}</p>
        {{ form.as_p }}
        <div id='config_command_form'>
          {{ config_command_form.as_p }}
        </div>
        <input type="submit" value="{{ action }}" />
    </form>
</div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">

function display_extra_form() {
  val = $("#id_command option:selected").val();
  if (val == 'new') {
    $('#config_command_form').show();
  } else {
    $('#config_command_form').hide();
  }
}

$(document).ready(function () {
  display_extra_form();
  $("#id_command").change(function () {display_extra_form();});
});

</script>
{% endblock %}
