{% extends "fpr/app_layout.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - {{ action }} Identification Rule{% endblock title %}

{% block page_title %}
{{ action }} Identification Rule
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'idrule_list' %}">Identification Rules</a></li>
<li>{{ action }} Identification Rule</li>
{% endblock breadcrumbs %}

{% block app_content %}
<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

<div class='form'>
    {% if idrule %}
    <form action="{% url 'idrule_edit' idrule.uuid %}" method="post">
    {% else %}
    <form action="{% url 'idrule_create' %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{{ action }}" />
    </form>
</div>

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
