{% extends "fpr/app_layout.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - {{ fptool.description }} {{ fptool.version }}{% endblock title %}

{% block page_title %}
{{ fptool.description }} Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'fptool_list' %}">fp Tools</a></li>
<li>{{ fptool.description }}</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    <div class='format'>
      <dl>
        <dt>Description</dt>
          <dd>{{ fptool.description }}</dd>
        <dt>Version</dt>
          <dd>{{ fptool.version }}</dd>
        <dt>UUID</dt>
          <dd>{{ fptool.uuid }}</dd>
        <dt>Actions</dt>
          <dd><a href="{% url 'fptool_edit' fptool.slug %}">Replace</a></dd>
      </dl>
    </div>

    <h2>Tool Configurations</h2>

    <p><a href="#">Create New Tool Configuration</a></p>

    {% if fptool_config %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Configuration</th>
            <th>UUID</th>
            <th>Command</th>
          </tr>
        </thead>
        <tbody>
        {% for config in fptool_config %}
          <tr>
            <td>{{ config.config }}</td>
            <td>{{ config.uuid }}</td>
            <td>{{ config.command.script }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No configurations exist for {{ fptool.description }}.</p>
    {% endif %}

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
