{% extends "fpr/app_layout.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - Normalization Tools{% endblock title %}

{% block page_title %}
Normalization Tool Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li>Normalization Tools</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    <p><a href="{% url 'fptool_create' %}">Create New Tool</a></p>

    {% if fptools %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Description</th>
            <th>Version</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for fptool in fptools %}
          <tr>
            <td><a href="{% url 'fptool_detail' fptool.slug %}">{{ fptool.description }}</a></td>
            <td>{{ fptool.version }}</td>
            <td>
               <a href="{% url 'fptool_detail' fptool.slug %}">View</a> |
              <a href="{% url 'fptool_edit' fptool.slug %}">Edit</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No normalization tools exist.</p>
    {% endif %}

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
