{% extends "fpr/app_layout.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - Format Policy Commands{% endblock title %}

{% block page_title %}
Format Policy Command Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li>Format Policy Commands</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    <p><a href="{% url 'fpcommand_create' %}">Create New Command</a></p>

    {% if fpcommands %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Description</th>
            <th>Usage</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for fpcommand in fpcommands %}
          <tr>
            <td><a href="{% url 'fpcommand_detail' fpcommand.uuid %}">{{ fpcommand.description }}</a></td>
            <td>{{ fpcommand.get_command_usage_display }}</td>
            <td>
              <a href="{% url 'fpcommand_detail' fpcommand.uuid %}">View</a> |
              <a href="{% url 'fpcommand_edit' fpcommand.uuid %}">Replace</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No format policy commands exist.</p>
    {% endif %}

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
