{% extends "fpr/app_layout.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - {{ action }} Identification Tool{% endblock title %}

{% block page_title %}
{{ action }} Identification Tool
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'idtool_list' %}">Identification Tools</a></li>
<li>{{ action }} Identification Tool</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="col-xs-10">

    <div class='tool'>
        {% if idtool %}
        <form action="{% url 'idtool_edit' idtool.slug %}" method="post">
        {% else %}
        <form action="{% url 'idtool_create' %}" method="post">
        {% endif %}
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <input type="submit" value="{{ action }}" class="btn btn-primary" />
        </form>
    </div>

  </div> <!-- /col-xs-10 -->

</div> <!-- /row -->

{% endblock app_content %}
