{% extends "fpr/app_layout.html" %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - Identification Tools{% endblock title %}

{% block page_title %}
Identification Tool Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li>Identification Tools</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="col-xs-10">

    {% if request.user.is_superuser %}
    <p><a href="{% url 'idtool_create' %}">Create New Tool</a></p>
    {% endif %}

    {% if idtools %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Description</th>
            <th>Version</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for idtool in idtools %}
          <tr>
            <td><a href="{% url 'idtool_detail' idtool.slug %}">{{ idtool.description }}</a></td>
            <td><a href="{% url 'idtool_detail' idtool.slug %}">{{ idtool.version }}</a></td>
            <td>
              <a href="{% url 'idtool_detail' idtool.slug %}">View</a>
              {% if request.user.is_superuser %}
                |
                <a href="{% url 'idtool_edit' idtool.slug %}">Edit</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No identification tools exist.</p>
    {% endif %}

  </div> <!-- /col-xs-10 -->

</div> <!-- /row -->

{% endblock app_content %}
