{% extends "app_layout.html" %}
{% load staticfiles %}
{% load revisions_link %}

{% block title %}Archivematica FPR Server - Format Version {{format.description}}{% endblock title %}

{% block page_title %}
{{format}} Format Version Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'format_list' %}">Formats</a></li>
<li><a href="{% url 'format_detail' format.slug %}">{{ format.description }}</a></li>
<li>{{ version.description }}</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    {% revisions_link "formatversion" version.uuid %}

    <div class='format'>
        <dl>
             <dt>UUID</dt> <dd>{{ version.uuid }}</dd>
            <dt>Description</dt> <dd>{{ version.description }}</dd>
            <dt>Version</dt> <dd>{{ version.version }}</dd>
            <dt>Pronom ID</dt> <dd>{{ version.pronom_id }}</dd>
            <dt>Format</dt> <dd><a href="{% url 'format_detail' format.slug %}">{{ format.description }}</a></dd>
            <dt>Access?</dt> <dd>{{ version.access_format }}</dd>
            <dt>Preservation?</dt> <dd>{{ version.preservation_format }}</dd>
            <dt>Enabled</dt> <dd>{{ version.enabled }}</dd>
            {% if request.user.is_superuser %}
            <dt>Actions</dt>
              <dd><a href="{% url 'formatversion_edit' format.slug version.slug %}">Replace</a></dd>
            {% endif %}
        </dl>
    </div>

  </div> <!-- /span10 -->
</div> <!-- /row -->

{% endblock app_content %}
