{% extends "app_layout.html" %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - Format {{format.description}}{% endblock title %}

{% block page_title %}
{{format}} Format Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'format_list' %}">Formats</a></li>
<li>{{ format.description }}</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="col-xs-10">

    <div class='format'>
        <dl>
            <dt>UUID</dt>
              <dd>{{ format.uuid }}</dd>
            <dt>Description</dt>
              <dd>{{ format.description }}</dd>
            <dt>Group</dt>
              <dd>
                {% if request.user.is_superuser %}
                  <a href="{% url 'formatgroup_edit' format.group.slug %}">{{ format.group }}</a>
                {% else %}
                  {{ format.group }}
                {% endif %}
              </dd>
            {% if request.user.is_superuser %}
            <dt>Actions</dt>
              <dd><a href="{% url 'format_edit' format.slug %}">Edit</a></dd>
            {% endif %}
        </dl>
    </div>

    <h2>Specific Versions</h2>

    {% if request.user.is_superuser %}
    <p><a href="{% url 'formatversion_create' format.slug %}">Create New Format Version</a></p>
    {% endif %}

    {% if format_versions %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Description</th>
            <th>Version</th>
            <th>Pronom ID</th>
            <th>Access format?</th>
            <th>Preservation format?</th>
            <th>Enabled</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for version in format_versions %}
          <tr>
            <td><a href="{% url 'formatversion_detail' format.slug version.slug %}">{{ version.description }}</a></td>
            <td>{% if version.version  %}{{ version.version }}{% endif %}</td>
            <td>{% if version.pronom_id %}<a href="http://www.nationalarchives.gov.uk/PRONOM/{{ version.pronom_id }}" target=_blank>{{ version.pronom_id}}</a>{% endif %}</td> 
            <td>{{ version.access_format|yesno:"Yes, No" }}</td>
            <td>{{ version.preservation_format|yesno:"Yes, No" }}</td>
            <td>{{ version.enabled }}</td>
            <td>
              <a href="{% url 'formatversion_detail' format.slug version.slug %}">View</a>
              {% if request.user.is_superuser %}
                | <a href="{% url 'formatversion_edit' format.slug version.slug %}">Replace</a>
                | <a href="{% url 'formatversion_delete' format.slug version.slug %}">{{ version.enabled|yesno:"Disable,Enable" }}</a></td>
              {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No versions exist for {{ format.description }}.</p>
    {% endif %}

  </div> <!-- /col-xs-10 -->

</div> <!-- /row -->

{% endblock app_content %}
