{% extends "fpr/app_layout.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - {{ idtool.description }} {{ idtool.version }}{% endblock title %}

{% block page_title %}
{{ idtool.description }} Information
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'idtool_list' %}">Identification Tools</a></li>
<li>{{ idtool.description }}</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    <div class='format'>
      <dl>
       <dt>UUID</dt>
          <dd>{{ idtool.uuid }}</dd>
        <dt>Description</dt>
          <dd>{{ idtool.description }}</dd>
        <dt>Version</dt>
          <dd>{{ idtool.version }}</dd>
        <dt>Enabled</dt>
          <dd>{{ idtool.enabled }}</dd>
        <dt>Actions</dt>
          <dd><a href="{% url 'idtool_edit' idtool.slug %}">Edit</a></dd>
      </dl>
    </div>

    <h2>Tool Configurations</h2>

    <p><a href="{% url 'idcommand_create' %}?parent={{ idtool.uuid }}">Create New Command</a></p>

    {% if idcommands %}
      <table class="datatable">
        <thead>
          <tr>
            <th>Configuration</th>
            <th>Identifier</th>
            <th>Command</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for command in idcommands %}
          <tr>
            <td>{{ command.get_config_display }}</td>
            <td>{{ command.description }}</td>
            <td>{{ command.script|truncatechars:100 }}</td>
            <td>
              <a href="{% url 'idcommand_detail' command.uuid  %}">View</a> |
              <a href="{% url 'idcommand_edit' command.uuid %}">Replace</a> |
              <a href="{% url 'idcommand_delete' command.uuid %}">Disable</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No commands exist for {{ idtool.description }}.</p>
    {% endif %}

  </div> <!-- /span10 -->

</div> <!-- /row -->

{% endblock app_content %}
