{% extends "layout_fluid.html" %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - Format {{format.description}}{% endblock title %}

{% block extra_css %}
{{ block.super }}
<style type="text/css">
th {
  resize: both;
  overflow: auto;
}

.breadcrumb > li:before {
    content: " / ";
}
</style>

    <!-- Le styles -->
    <link href="{{STATIC_URL}}vendor/datatables/css/jquery.dataTables.css" rel="stylesheet">
    
{% endblock extra_css %}

{% block content %}

  <ul class="breadcrumb">
  {% block breadcrumbs %}
  {% endblock breadcrumbs %}
  </ul>

  <h1>{% block page_title %}
  {{format}} Format Information
  {% endblock page_title %}</h1>

  {% block app_content %}
  {% endblock app_content %}

  {% endblock content %}

  {% block extra_js %}
  <!-- Le javascript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
      $('.datatable').dataTable();
    } );
    </script>
  {% endblock extra_js %}
