{% extends "layout_fluid.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - Format {{format.description}}{% endblock title %}

{% block extra_css %}
{{ block.super }}
<style type="text/css">
th {
  resize: both;
  overflow: auto;
}
</style>

    <!-- Le styles -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/jquery.dataTables.css" rel="stylesheet">
    
{% endblock extra_css %}

{% block content %}

  <ul class="breadcrumb">
  {% block breadcrumbs %}
  {% endblock breadcrumbs %}
  </ul>

  <h1>{% block page_title %}
  {{format}} Format Information
  {% endblock page_title %}</h1>

  {% block app_content %}
  {% endblock app_content %}

  {% endblock content %}

  {% block extra_js %}
  <!-- Le javascript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
      $('.datatable').dataTable();
    } );
    </script>
  {% endblock extra_js %}
