{% extends "fpr/app_layout.html" %}
{% load staticfiles %}

{% block title %}Archivematica FPR Server - Disable {{ model_name }}{% endblock title %}

{% block page_title %}
Disable {{ model_name }}
{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
{% for crumb in breadcrumbs %}
    <li>{% if crumb.link %}<a href="{{ crumb.link }}">{% endif %}{{ crumb.text }}{% if crumb.link %}</a>{% endif %}</li>
{% endfor %}
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="span10">

    <div class='config'>
      <form action="{{ form_url }}" method="post">{% csrf_token %}
        <p>Are you sure?</p>

        {% if object.enabled and dependent_objects %}
        <p>The following rules will also be disabled:</p>

        {% regroup dependent_objects by model as dependent_rules %}
        <dl>
            {% for model in dependent_rules %}
                <dt>{{ model.grouper }}</dt>
                {% for rule in model.list %}
                    <dd>{{ rule.value }}</dd>
                {% endfor %}
            {% endfor %}
        </dl>
        {% endif %}

        <input type="submit" name="{{ object.enabled|yesno:"disable,enable" }}" value="{{ object.enabled|yesno:"Disable,Enable" }} {{ model_name }}" />
        <input type="submit" name="cancel" value="Cancel, change nothing" />
      </form>
    </div>

  </div> <!-- /span10 -->
</div> <!-- /row -->

{% endblock app_content %}
