<button type="button" class="close" data-dismiss="alert">&times;</button>

<p>The FPR lists all of Archivematica's default format policy rules. In your Archivematica 0.10-beta instance you can download updates from the FPR as well as replace default rules with your own local policies.</p>

<p>Upcoming FPR enhancements will include statistical information about the default and custom format policies implemented by Archivematica users. See the <a href="https://www.archivematica.org/wiki/Format_policy_registry_requirements" target="_blank">FPR wiki page</a> for more information.</p>
